{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
<div class="div_outer_layer">
    <ul>
    {% for question in latest_question_list %}
        <li class="div_inner_layer"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <a href="{% url 'polls:results' question.id %}"><input type="button" value="Result" class="input_button"></a> </li>
    {% endfor %}
    </ul>
</div>
{% if messages %}
    <ul class="messages" style="border: 2px solid #A27B5C; border-radius: 5px; background-color: #A27B5C; padding: 10px; width: 70%; margin-left: auto; margin-right: auto; color: #DCD7C9;">
        {% for message in messages %}
            {% if message.tags %}
                <li class="{{ message.tags }}" style="list-style-type: none;">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

